<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    margin: 0 6vw;
    z-index: 10;
    padding: 5px 10px 5px 10vw;
    backdrop-filter: blur(10px);
    background-color: #ffffff17;
    border-radius: 1000px;
    overflow: hidden;
}

nav ul {
    position: relative;
    right: 0%;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    list-style: none;
}
nav {
    padding-right: 80px;
}

nav a {
    color: rgb(160, 160, 160);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all .15s;
    position: relative;
    text-decoration: none;
}
nav a::before,
nav a::after {
    content: '';
    position: absolute;
    height: 3.5px;
    width: 0px;
    background-color: rgb(38, 255, 0);
    box-shadow: 0 0 5px rgb(38, 255, 0);
    transition: width .5s;
}
nav a::after {
    bottom: -5px;
    left: 0px;
}

nav a::before {
    top: -5px;
    right: 0px;
}
nav a:hover {
    text-shadow: 0 0 3px rgb(255, 255, 255);
    color: #ffffff;
}
nav a:hover::before,
nav a:hover::after {
    width: 100%;
}

/*88888888888888888*/
#logo {
    position: relative;
}

#logo h2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

#logo h2:nth-child(1){
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#logo h2:nth-child(2) {
    color: orange;
    text-align: center;
}

#logo h2:nth-child(2)::after {
    content: '';
    width: 28%;
    height: 5%;
    background-color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
/****************************************/

.backAnm {
    background-color: #ffffff8e;
    display: block;
    position: absolute;
    /* left: -55px; */
    /* left: 730px; */
    width: 50px;
    height: 120px;
    transform: rotate(30deg);
    box-shadow: 0 0 50px #ffffff;
    animation: backAnimation 4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes backAnimation {
    0%, 100% {
        left: -55px;
    }
    
    50% {
        left: 90vw;
    }
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    margin: 0 6vw;
    z-index: 10;
    padding: 5px 10px 5px 10vw;
    backdrop-filter: blur(10px);
    background-color: #ffffff17;
    border-radius: 1000px;
    overflow: hidden;
}

nav ul {
    position: relative;
    right: 0%;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    list-style: none;
}
nav {
    padding-right: 80px;
}

nav a {
    color: rgb(160, 160, 160);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    font-weight: bold;
    transition: all .15s;
    position: relative;
    text-decoration: none;
}
nav a::before,
nav a::after {
    content: '';
    position: absolute;
    height: 3.5px;
    width: 0px;
    background-color: rgb(38, 255, 0);
    box-shadow: 0 0 5px rgb(38, 255, 0);
    transition: width .5s;
}
nav a::after {
    bottom: -5px;
    left: 0px;
}

nav a::before {
    top: -5px;
    right: 0px;
}
nav a:hover {
    text-shadow: 0 0 3px rgb(255, 255, 255);
    color: #ffffff;
}
nav a:hover::before,
nav a:hover::after {
    width: 100%;
}

/*88888888888888888*/
#logo {
    position: relative;
}

#logo h2 {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

#logo h2:nth-child(1){
    font-size: 22px;
    color: rgb(255, 255, 255);
}

#logo h2:nth-child(2) {
    color: orange;
    text-align: center;
}

#logo h2:nth-child(2)::after {
    content: '';
    width: 28%;
    height: 5%;
    background-color: white;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
/****************************************/

.backAnm {
    background-color: #ffffff8e;
    display: block;
    position: absolute;
    /* left: -55px; */
    /* left: 730px; */
    width: 50px;
    height: 120px;
    transform: rotate(30deg);
    box-shadow: 0 0 50px #ffffff;
    animation: backAnimation 4s infinite cubic-bezier(0.65, 0.05, 0.36, 1);
}

@keyframes backAnimation {
    0%, 100% {
        left: -55px;
    }
    
    50% {
        left: 90vw;
    }
>>>>>>> 2b9c910 (major update 2705230919)
}