* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(13, 11, 69);
    height: 105vh;
    width: 100vw;
}
.logo-container {
    position: relative;
    top: 100px;
    
}

.logo-container img {
    display: block;
    aspect-ratio: 1:1;
}

h1 {
    padding-top: 110px;
    color: yellow;
    margin: 20px auto;
    width: fit-content;
    font-size: 4rem;
    font-family: cursive;
    text-shadow: 0px 0px 10px white;
    }
    
    table {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    height: 50vmin;
    border: 2px solid black;
    border-collapse: collapse;
    }
    
    tr{
    font-size: 1.5rem;
    }
    
    td{
    width: 30%;
    background-color: rgb(225 225 225);
    color: black;
    border: 2px solid black;
    }
    
.fcc-btn {
    background-color: aqua;
    color: rgb(216, 14, 14);
    padding: 15px 25px;
    text-decoration: none;

}