body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

#board {
    width: 403px;
    height: 403px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 79px;
    height: 79px;
    border:0.5px solid lightblue;
}


#pieces {
<<<<<<< HEAD
    width: 1040px;
=======
    width: 1050px;
>>>>>>> 77d1917 (added jigsaw edited about-us and our_games)
    height: 160px;
    border: 2px solid purple;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#pieces img {
    width: 79px;
    height: 79px;
    border:0.5px solid lightblue;
}
<<<<<<< HEAD


=======
>>>>>>> 77d1917 (added jigsaw edited about-us and our_games)
