.snake {
    position: relative;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(110px);
}

.snake img{
    position: absolute;
    height: 453px;
    width: 255px;
    box-shadow: 10px 5px 15px rgb(54, 54, 54);
    top: 150px;
    left: 50%;
    z-index: 5;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.snake .gamePlay {
    position: absolute;
    background-color: black;
    box-shadow: 10px 5px 20px rgb(24, 24, 24);
    height: 300px;
    top: 350px;
    left: 900px;
}
.snake .content {
    position: absolute;
    top: 150px;
    left: 50px;
}
.snake h2 {
    padding: 30px 50px;
    font-size: 3rem;
    width: 20ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 145, 0);
}
.snake p {
    width: 55ch;
    padding-left: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .15s;
}

.snake p:hover {
    color: whitesmoke;
}

.snakeBack {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -10;
}

.snake button {
    margin: 30px 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: 5px solid rgb(53, 186, 238);
    background-color: transparent;
    color: rgb(48, 196, 255);
    letter-spacing: 4px;
}

.snake button:hover {
    background-color: white;
    color: rgb(255, 145, 0);
    border-color: rgb(255, 145, 0);
}